doctype html
html(lang = 'en')
  head
    title
      block title

    block metatags
      meta(charset='utf-8')    
      meta(http-equiv="X-UA-Compatible", content="IE=edge")     
      meta(name='viewport', content='width=device-width, initial-scale=1')

    // Favicons

    // Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=CODE-ID')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'CODE-ID');

    // Google Fonts

    // Styles
    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/main.css')

  body
    // Including header
    include header

    // Including content
    block content
    
    // Including header
    include footer

    // Scripts
    script(src='js/vendor.js')
    script(src='js/app.js')
