extend layouts/master

block title
	| Mao a Gulp front-end workflow

block append metatags 
	meta(name='description', content='A description of the page')

block content
	.grid-container
		.grid-x
			.large-12.medium-12.small-12.column
				h1 Welcome in Mao
				p Gulp workflow with Versioning!